header {
    height: 80px;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: center;
}

#box-header {
    width: 90%;
    display: flex;
    align-items: center;
}

#box-logo {
    color: var(--text-color-light);
    font-size: 28px;
    font-weight: bold;
    cursor: default;
}

#box-logo span {
    color: var(--logo-color);
}