nav {
    width: 200px;
    height: 100vh;
    background-color: var(--header-bg-color);
    position: fixed;
}

nav li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: border 200ms;
}

nav li:hover {
    border-top: 1px solid var(--text-hover-color-light);
    border-bottom: 1px solid var(--text-hover-color-light);
}

nav li a {
    height: 60px;
    color: var(--text-color-light);
	letter-spacing: 1px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav li a:hover {
    background-color: var(--header-hover-bg-color);
}

nav li > a i {
    font-size: 18px;
    margin: 0px 6px 2px 0px;
}

nav li > a div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 40px;
}

#box-top-menu {
    height: 70px;
    padding: 0px 12px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#box-top-menu p {
    color: var(--text-color-light);
    font-size: 14px;
    cursor: default;
}

#btn-hidden-show-nav {
    background-color: transparent;
    color: var(--text-color-light);
    font-size: 32px;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 200ms;
}

#btn-hidden-show-nav:hover {
    background-color: var(--header-hover-bg-color);
    color: var(--text-hover-color-light);
}