:root {
    --header-bg-color: #2e2e2e;
    --header-hover-bg-color: #292929;
    --lateral-header-border-color: #535353;
    --border-title-chart: #696969;
    --text-color-light: #FFF;
    --text-hover-color-light: #F1F1F1;
    --logo-color: #94d123;
}